api/flows.json
[{"id":"2d4451f8.bdbe2e","type":"tab","label":"Authentication","disabled":false,"info":""},{"id":"850f605e.5c11c","type":"tab","label":"Empathise","disabled":false,"info":""},{"id":"5667cdd0.b6df74","type":"tab","label":"Ideate","disabled":false,"info":""},{"id":"4a453879.3f3c58","type":"tab","label":"Projects","disabled":false,"info":""},{"id":"1b2cf567.12131b","type":"tab","label":"Interpreter","disabled":false,"info":""},{"id":"b10c1213.f9b74","type":"tab","label":"OK Watson","disabled":false,"info":""},{"id":"70fa9221.8ff24c","type":"tab","label":"Define","disabled":false,"info":""},{"id":"72191b00.715914","type":"microphone","z":"1b2cf567.12131b","name":"","x":220,"y":300,"wires":[["180da844.b56308"]]},{"id":"3dc39d9d.6cab62","type":"play audio","z":"1b2cf567.12131b","name":"","voice":"","x":730,"y":400,"wires":[]},{"id":"180da844.b56308","type":"watson-speech-to-text","z":"1b2cf567.12131b","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":320,"y":420,"wires":[["785b169d.e16368"]]},{"id":"f6175eee.b407","type":"watson-translator","z":"1b2cf567.12131b","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"de","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"de","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":410,"y":580,"wires":[["c516c5c8.2450a8"]]},{"id":"785b169d.e16368","type":"function","z":"1b2cf567.12131b","name":"Prepare for Translation","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":500,"wires":[["f6175eee.b407"]]},{"id":"c516c5c8.2450a8","type":"watson-text-to-speech","z":"1b2cf567.12131b","name":"","lang":"de-DE","langhidden":"de-DE","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"de-DE_ErikaV3Voice","voicehidden":"de-DE_ErikaV3Voice","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":640,"y":580,"wires":[["e8e8d54c.8f9f68"]]},{"id":"e8e8d54c.8f9f68","type":"function","z":"1b2cf567.12131b","name":"Prepare for Speaker","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":340,"wires":[["3dc39d9d.6cab62"]]},{"id":"4f458bc.87c9c74","type":"inject","z":"b10c1213.f9b74","name":"demos","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Do you have any demos?","payloadType":"str","x":190,"y":740,"wires":[["dfa28a25.e64c88"]]},{"id":"6e8dcbb1.5d4e34","type":"watson-conversation-v1","z":"b10c1213.f9b74","name":"","workspaceid":"76e08382-2320-446e-bd57-32a4a2425fa2","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":618.9999923706055,"y":502.08337116241455,"wires":[["80320f8f.df366"]]},{"id":"48ff9240.0b119c","type":"watson-speech-to-text","z":"b10c1213.f9b74","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"de-DE","langhidden":"de-DE","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":153.1666603088379,"y":509.24995470046997,"wires":[["c8e94ee1.b6a0a"]]},{"id":"9ad7647f.fb2898","type":"watson-text-to-speech","z":"b10c1213.f9b74","name":"","lang":"de-DE","langhidden":"de-DE","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"de-DE_DieterV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":1059.0000019073486,"y":531.4167203903198,"wires":[["3fb7049c.822e6c"]]},{"id":"c8e94ee1.b6a0a","type":"function","z":"b10c1213.f9b74","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":317.1666603088379,"y":509.24994707107544,"wires":[["ab8ff8e8.4a95c8"]]},{"id":"3fb7049c.822e6c","type":"function","z":"b10c1213.f9b74","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1229.666753768921,"y":531.4167203903198,"wires":[["8171a1ee.472bf"]]},{"id":"8171a1ee.472bf","type":"play audio","z":"b10c1213.f9b74","name":"","x":1389.0000476837158,"y":531.4167203903198,"wires":[]},{"id":"846ba766.31c498","type":"inject","z":"b10c1213.f9b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Set user details","payloadType":"str","x":144.16665649414062,"y":320.9999747276306,"wires":[["6a691cd5.866464"]]},{"id":"d4700a1a.175ae8","type":"watson-conversation-v1","z":"b10c1213.f9b74","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":495.33331298828125,"y":1745.7500295639038,"wires":[["abe22654.d21d48"]]},{"id":"e8178f2e.05d7b","type":"inject","z":"b10c1213.f9b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"hello","payloadType":"str","x":86.33331298828125,"y":1663.7500295639038,"wires":[["7b6b2284.28a29c"]]},{"id":"a0986324.48305","type":"inject","z":"b10c1213.f9b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"watson","payloadType":"str","x":86.83331298828125,"y":1700.7500295639038,"wires":[["7b6b2284.28a29c"]]},{"id":"7b6b2284.28a29c","type":"function","z":"b10c1213.f9b74","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":257.83331298828125,"y":1699.7500295639038,"wires":[["d4700a1a.175ae8"]]},{"id":"e8d9001f.14da5","type":"inject","z":"b10c1213.f9b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"hello","payloadType":"str","x":85.33331298828125,"y":1784.7500295639038,"wires":[["3b1f69ca.2d0f76"]]},{"id":"f4aabb0d.50a8c8","type":"inject","z":"b10c1213.f9b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"cics","payloadType":"str","x":85.83331298828125,"y":1820.7500295639038,"wires":[["3b1f69ca.2d0f76"]]},{"id":"3b1f69ca.2d0f76","type":"function","z":"b10c1213.f9b74","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":256.83331298828125,"y":1819.7500295639038,"wires":[["d4700a1a.175ae8"]]},{"id":"abe22654.d21d48","type":"debug","z":"b10c1213.f9b74","name":"","active":true,"console":"false","complete":"payload.output.text","x":714.3333129882812,"y":1745.7500295639038,"wires":[]},{"id":"55d91fdd.0c64b","type":"inject","z":"b10c1213.f9b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"hello","payloadType":"str","x":262.33331298828125,"y":1566.7500295639038,"wires":[["d4700a1a.175ae8"]]},{"id":"e2922c7b.84db1","type":"inject","z":"b10c1213.f9b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"watson","payloadType":"str","x":262.33331298828125,"y":1602.7500295639038,"wires":[["d4700a1a.175ae8"]]},{"id":"aca47c4e.dabb5","type":"inject","z":"b10c1213.f9b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"hello","payloadType":"str","x":133.83331298828125,"y":1914.7500295639038,"wires":[["533f26f7.ca9ac8"]]},{"id":"533f26f7.ca9ac8","type":"function","z":"b10c1213.f9b74","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":278.83331298828125,"y":1914.7500295639038,"wires":[["d4700a1a.175ae8"]]},{"id":"c59e9e45.ef664","type":"inject","z":"b10c1213.f9b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"yes","payloadType":"str","x":86.83331298828125,"y":1736.7500295639038,"wires":[["7b6b2284.28a29c"]]},{"id":"a12e2cac.10e18","type":"inject","z":"b10c1213.f9b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"yes","payloadType":"str","x":85.33331298828125,"y":1856.7500295639038,"wires":[["3b1f69ca.2d0f76"]]},{"id":"850c9938.8ac4f8","type":"inject","z":"b10c1213.f9b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"yes","payloadType":"str","x":262.33331298828125,"y":1638.7500295639038,"wires":[["d4700a1a.175ae8"]]},{"id":"3c39332d.270fec","type":"microphone","z":"b10c1213.f9b74","name":"","x":142.4166603088379,"y":460.9999442100525,"wires":[["48ff9240.0b119c"]]},{"id":"be8bade9.ffd55","type":"inject","z":"b10c1213.f9b74","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"reset context","payloadType":"str","x":135.16665649414062,"y":285.66663122177124,"wires":[["3a20c28f.ec6a0e"]]},{"id":"3a20c28f.ec6a0e","type":"function","z":"b10c1213.f9b74","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":307.1666564941406,"y":285.66663885116577,"wires":[["58284305.7a40ac"]]},{"id":"6a691cd5.866464","type":"function","z":"b10c1213.f9b74","name":"add context","func":"msg.additional_context = {\n    twitter: {\n    handle: \"a_twitter_handle_without_the_at_symbol\",\n    dm: false\n}}\nreturn msg;","outputs":1,"noerr":0,"x":306.9999542236328,"y":320.66666173934937,"wires":[["58284305.7a40ac"]]},{"id":"80320f8f.df366","type":"function","z":"b10c1213.f9b74","name":"set payload and tweet","func":"/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    if (output && output.indexOf(\"|tweet:\") > -1) {\n        node.warn(\"tweeting\");\n        if (\n            msg.payload.context.twitter &&\n            msg.payload.context.twitter.handle \n            ) {\n            \n            // extract text and url to tweet and clean up strings\n            var tweet = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"tweet:\") > -1 ;\n                }).join(', ').replace(\"tweet:\", '');\n            var url = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"link:\") > -1 ;\n                }).join(', ').replace(\"link:\", '');\n            \n            // dm switch\n            var dmswitch = '';\n            if (msg.payload.context.twitter.dm && msg.payload.context.twitter.dm === true){\n                dmswitch = \"DM \";\n            }\n            // construct tweet\n            tweet = dmswitch + \"@\" + msg.payload.context.twitter.handle + \" \" + tweet + \" \" + url;\n            \n            msg.payload = tweet;\n            node.warn(\"Sending string to twitter node: \\n\" + tweet)\n            node.send([msg,null]);\n            \n        } else {node.error(\"no twitter details\");}\n    } else {\n        node.warn(\"no tweet requested\");\n    }\n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":"2","noerr":0,"x":823.1666488647461,"y":500.7500123977661,"wires":[[],["9ad7647f.fb2898"]]},{"id":"ab8ff8e8.4a95c8","type":"link out","z":"b10c1213.f9b74","name":"gototone","links":["8c51e19e.481ae"],"x":423.7197036743164,"y":555.4999594688416,"wires":[]},{"id":"3340e3db.28e95c","type":"link in","z":"b10c1213.f9b74","name":"convIn","links":["2d45ab7c.a3f424","58284305.7a40ac"],"x":497.9167411327362,"y":547.4166841506958,"wires":[["6e8dcbb1.5d4e34"]]},{"id":"e87488c6.710728","type":"inject","z":"b10c1213.f9b74","name":"Hi","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Hi","payloadType":"str","x":189.16665649414062,"y":702.4166560173035,"wires":[["dfa28a25.e64c88"]]},{"id":"4e62fb30.6b2724","type":"inject","z":"b10c1213.f9b74","name":"Angry feedback","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!","payloadType":"str","x":161.41665649414062,"y":775.9166569709778,"wires":[["dfa28a25.e64c88"]]},{"id":"8c0a5cf3.2dc8b","type":"inject","z":"b10c1213.f9b74","name":"Happy feedback","repeat":"","crontab":"","once":false,"topic":"","payload":"These new nodes are awesome! I love the way they are used in the new flows!","payloadType":"str","x":160.91665649414062,"y":811.6666579246521,"wires":[["dfa28a25.e64c88"]]},{"id":"8c51e19e.481ae","type":"link in","z":"b10c1213.f9b74","name":"","links":["ab8ff8e8.4a95c8","dfa28a25.e64c88"],"x":505.9768590927124,"y":741.7593431472778,"wires":[["7c421eff.24a32","13dbaa28.0dea36"]]},{"id":"7c421eff.24a32","type":"debug","z":"b10c1213.f9b74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":633.4768600463867,"y":698.4260292053223,"wires":[]},{"id":"2d45ab7c.a3f424","type":"link out","z":"b10c1213.f9b74","name":"","links":["3340e3db.28e95c"],"x":1009.2268714904785,"y":738.592716217041,"wires":[]},{"id":"13dbaa28.0dea36","type":"watson-tone-analyzer-v3","z":"b10c1213.f9b74","name":"","tones":"emotion","sentences":"false","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","service-endpoint":"","x":640.7268600463867,"y":738.3426866531372,"wires":[["343f341.551f3cc"]]},{"id":"343f341.551f3cc","type":"function","z":"b10c1213.f9b74","name":"add emotion to context","func":"var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":855.3101768493652,"y":739.2593431472778,"wires":[["2d45ab7c.a3f424"]]},{"id":"dfa28a25.e64c88","type":"link out","z":"b10c1213.f9b74","name":"frommaninputs","links":["8c51e19e.481ae"],"x":421.59785652160645,"y":746.164954662323,"wires":[]},{"id":"58284305.7a40ac","type":"link out","z":"b10c1213.f9b74","name":"adminout","links":["3340e3db.28e95c"],"x":426.61054372787476,"y":303.2620711326599,"wires":[]},{"id":"4ba10b.46831ef4","type":"comment","z":"b10c1213.f9b74","name":"config","info":"","x":88.31929016113281,"y":245.4235339164734,"wires":[]},{"id":"7d9e9e4d.05291","type":"comment","z":"b10c1213.f9b74","name":"speech in","info":"","x":98.6435432434082,"y":425.5347275733948,"wires":[]},{"id":"d6f08555.9f07b8","type":"comment","z":"b10c1213.f9b74","name":"test txt in","info":"","x":96.14353942871094,"y":663.034791469574,"wires":[]},{"id":"a44a2996.c53348","type":"comment","z":"b10c1213.f9b74","name":"tone analyser","info":"","x":555.9768943786621,"y":655.6181697845459,"wires":[]},{"id":"ff1de88f.7b5cd8","type":"comment","z":"b10c1213.f9b74","name":"conversations call and output","info":"","x":600.976921081543,"y":426.8681287765503,"wires":[]},{"id":"870c5e56.c76a","type":"http in","z":"5667cdd0.b6df74","name":"Add Idea","url":"/add-idea","method":"post","upload":false,"swaggerDoc":"","x":260,"y":160,"wires":[["3233e8cf.9c19a8"]]},{"id":"3233e8cf.9c19a8","type":"function","z":"5667cdd0.b6df74","name":"Prepare input","func":"msg.payload = {\n    user_id: msg.req.body.user_id,\n    project_id: msg.req.body.project_id,\n    content: msg.req.body.content,\n    vector_x: msg.req.body.vector_x,\n    vector_y: msg.req.body.vector_y,\n    vector_z: msg.req.body.vector_z,\n    timestamp: new Date().getTime(),\n    active: true,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["4b9aa550.57ef1c","8b7d8aa1.2b3a28"]]},{"id":"4b9aa550.57ef1c","type":"cloudant out","z":"5667cdd0.b6df74","name":"Insert Idea","cloudant":"","database":"ideate","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":610,"y":160,"wires":[]},{"id":"95fee58c.b75118","type":"http in","z":"5667cdd0.b6df74","name":"Get Ideas","url":"/get-ideas","method":"post","upload":false,"swaggerDoc":"","x":380,"y":560,"wires":[["7ea54f4.a3b3bb","9280a109.099a7"]]},{"id":"8bcd1029.6c384","type":"http response","z":"5667cdd0.b6df74","name":"","statusCode":"","headers":{},"x":950,"y":640,"wires":[]},{"id":"f2d955d9.e28528","type":"debug","z":"5667cdd0.b6df74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":540,"wires":[]},{"id":"ecdbc337.6b295","type":"cloudant in","z":"5667cdd0.b6df74","name":"","cloudant":"","database":"ideate","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_idx_","design":"get_ideas","index":"get_ideas","x":710,"y":580,"wires":[["f2d955d9.e28528","8bcd1029.6c384"]]},{"id":"7ea54f4.a3b3bb","type":"function","z":"5667cdd0.b6df74","name":"","func":"msg.payload = {\n    query : \"user_id:\"+ msg.payload.user_id\n    + \" AND project_id: \"+ msg.payload.project_id\n    + \" AND active: true\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":640,"wires":[["ecdbc337.6b295","60ef0fd3.30422"]]},{"id":"83b77d06.ac631","type":"http in","z":"2d4451f8.bdbe2e","name":"Login","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":70,"y":240,"wires":[["94014c5a.c3cef"]]},{"id":"2062fd48.54c052","type":"http response","z":"2d4451f8.bdbe2e","name":"Authentication","statusCode":"","headers":{},"x":1140,"y":120,"wires":[]},{"id":"3b78af76.c8d79","type":"cloudant in","z":"2d4451f8.bdbe2e","name":"","cloudant":"","database":"users","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_idx_","design":"users","index":"users","x":350,"y":220,"wires":[["c6a3444d.1e4fc8","e69f6c09.cc44f"]]},{"id":"94014c5a.c3cef","type":"function","z":"2d4451f8.bdbe2e","name":"Process Input","func":"// Get username and password\nmsg.payload = {\n    query: \"username:\" + msg.req.body.username,\n}\n\n// Set password as variable\nflow.set(\"password\", msg.req.body.password);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":300,"wires":[["3b78af76.c8d79","49b70d31.4bfcb4"]]},{"id":"63a58d83.cb0594","type":"http in","z":"2d4451f8.bdbe2e","name":"Register","url":"/register","method":"post","upload":false,"swaggerDoc":"","x":60,"y":600,"wires":[["e4026068.82cfd"]]},{"id":"431318e7.c51448","type":"cloudant out","z":"2d4451f8.bdbe2e","name":"Insert User","cloudant":"","database":"users","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":1310,"y":660,"wires":[]},{"id":"15215907.93cdb7","type":"cloudant in","z":"2d4451f8.bdbe2e","name":"Search User","cloudant":"","database":"users","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_idx_","design":"users","index":"user_login","x":770,"y":800,"wires":[["36024243.9c555e","da835c63.b96b8"]]},{"id":"1e2c18d7.d716f7","type":"function","z":"2d4451f8.bdbe2e","name":"Insert Prep","func":"// if (msg.payload.length > 0)\n// {\n//     msg.statusCode = 400;\n//     return msg;\n// }\n\n// var password = flow.get(\"password\");\n// var username = flow.get(\"username\");\n\nmsg.statusCode = 200;\n\nmsg.payload = {\n    username: msg.req.body.username,\n    password: msg.req.body.password,\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":720,"wires":[["5fee214.6c9b1e","431318e7.c51448","b6028616.6dc8a8"]]},{"id":"e4026068.82cfd","type":"switch","z":"2d4451f8.bdbe2e","name":"Check Username","property":"req.body.username","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"\"\"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":600,"wires":[["8b41fe87.66e49"],["8b41fe87.66e49"],["5abd0c75.ff8374"]]},{"id":"8b41fe87.66e49","type":"http response","z":"2d4451f8.bdbe2e","name":"Login Unsuccessful","statusCode":"400","headers":{},"x":710,"y":600,"wires":[]},{"id":"5abd0c75.ff8374","type":"switch","z":"2d4451f8.bdbe2e","name":"Check Password","property":"req.body.username","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"\"\"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":700,"wires":[["8b41fe87.66e49"],["8b41fe87.66e49"],["8191afeb.bf91a","66a86f1e.8d8f6"]]},{"id":"8191afeb.bf91a","type":"function","z":"2d4451f8.bdbe2e","name":"Prepare","func":"flow.set(\"password\", msg.req.body.password);\n\nmsg.payload = {\n    query: \"username: \"+ msg.req.body.username\n    + \" AND password:\" +msg.req.body.password,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":680,"wires":[["15215907.93cdb7"]]},{"id":"36024243.9c555e","type":"switch","z":"2d4451f8.bdbe2e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":720,"wires":[["5b246392.550a4c"],["1e2c18d7.d716f7"]]},{"id":"185fa99c.6f4656","type":"http response","z":"2d4451f8.bdbe2e","name":"Login Unsuccessful","statusCode":"400","headers":{},"x":1190,"y":540,"wires":[]},{"id":"5fee214.6c9b1e","type":"debug","z":"2d4451f8.bdbe2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":720,"wires":[]},{"id":"b6028616.6dc8a8","type":"http response","z":"2d4451f8.bdbe2e","name":"","statusCode":"","headers":{},"x":1300,"y":780,"wires":[]},{"id":"5b246392.550a4c","type":"function","z":"2d4451f8.bdbe2e","name":"","func":"msg.payload = {\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":640,"wires":[["185fa99c.6f4656"]]},{"id":"df50568.abb6ca8","type":"cloudant out","z":"2d4451f8.bdbe2e","name":"Delete User","cloudant":"","database":"users","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":false,"operation":"delete","x":1130,"y":1380,"wires":[]},{"id":"e2650e9.84fa0f","type":"function","z":"2d4451f8.bdbe2e","name":"","func":"msg.payload = {\n    _id: msg.req.body.id,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1380,"wires":[["d4a37969.8f1e78"]]},{"id":"cbd74b24.81f0f8","type":"http in","z":"2d4451f8.bdbe2e","name":"Delete User","url":"/delete-user","method":"post","upload":false,"swaggerDoc":"","x":340,"y":1380,"wires":[["e2650e9.84fa0f"]]},{"id":"2feca5d5.0bccfa","type":"http response","z":"2d4451f8.bdbe2e","name":"User not found","statusCode":"404","headers":{},"x":1100,"y":1180,"wires":[]},{"id":"d4a37969.8f1e78","type":"cloudant in","z":"2d4451f8.bdbe2e","name":"Search User","cloudant":"","database":"users","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_id_","design":"user","index":"user","x":690,"y":1300,"wires":[["edb9c729.4cf6b8"]]},{"id":"b6a12e71.e793a","type":"http response","z":"2d4451f8.bdbe2e","name":"Successful","statusCode":"","headers":{},"x":1110,"y":1240,"wires":[]},{"id":"edb9c729.4cf6b8","type":"switch","z":"2d4451f8.bdbe2e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":1240,"wires":[["2feca5d5.0bccfa"],["b6a12e71.e793a","b367a804.09c788"]]},{"id":"b367a804.09c788","type":"function","z":"2d4451f8.bdbe2e","name":"","func":"msg.payload = {\n    _id: msg.payload._id,\n    _rev: msg.payload._rev,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":1360,"wires":[["df50568.abb6ca8"]]},{"id":"37306f8c.f11f6","type":"http in","z":"4a453879.3f3c58","name":"Add Project","url":"/add-project","method":"post","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["dc390529.e22378"]]},{"id":"f0448ac0.cbdd28","type":"http response","z":"4a453879.3f3c58","name":"","statusCode":"","headers":{},"x":690,"y":160,"wires":[]},{"id":"dc390529.e22378","type":"function","z":"4a453879.3f3c58","name":"","func":"msg.payload = {\n    project_name: msg.req.body.project_name,\n    user_id: msg.req.body.user_id,\n    definition: \"Define the problem!\",\n    active: true,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["f0448ac0.cbdd28","57e918a7.985718","6ef00046.ce4c1"]]},{"id":"57e918a7.985718","type":"cloudant out","z":"4a453879.3f3c58","name":"Insert Project","cloudant":"","database":"projects","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":670,"y":240,"wires":[]},{"id":"3babaafc.d8d426","type":"switch","z":"2d4451f8.bdbe2e","name":"Check Password","property":"payload[0].password","propertyType":"msg","rules":[{"t":"eq","v":"password","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":160,"wires":[["4f1e38ae.e35d28"],["a40280c7.26f8d","c2051005.dffd6"]]},{"id":"c57a5fe6.7b14d","type":"http response","z":"2d4451f8.bdbe2e","name":"Authentication","statusCode":"403","headers":{},"x":1020,"y":260,"wires":[]},{"id":"a40280c7.26f8d","type":"function","z":"2d4451f8.bdbe2e","name":"","func":"msg.payload = {\n    error: \"login details incorrect or user not found\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":340,"wires":[["c57a5fe6.7b14d","a3dbd05d.b4d6a"]]},{"id":"a3dbd05d.b4d6a","type":"debug","z":"2d4451f8.bdbe2e","name":"Login","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":380,"wires":[]},{"id":"c2051005.dffd6","type":"debug","z":"2d4451f8.bdbe2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":180,"wires":[]},{"id":"c6a3444d.1e4fc8","type":"switch","z":"2d4451f8.bdbe2e","name":"Find User","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":220,"wires":[["3babaafc.d8d426"],["a40280c7.26f8d","769151ed.6a578"]]},{"id":"769151ed.6a578","type":"debug","z":"2d4451f8.bdbe2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"check find user","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":400,"wires":[]},{"id":"4f1e38ae.e35d28","type":"function","z":"2d4451f8.bdbe2e","name":"","func":"msg.payload = msg.payload[0]\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":140,"wires":[["2062fd48.54c052"]]},{"id":"8eb311f.664abf","type":"http in","z":"4a453879.3f3c58","name":"Get Projects","url":"get-projects","method":"post","upload":false,"swaggerDoc":"","x":250,"y":500,"wires":[["ef270f31.83ae9"]]},{"id":"a61fe469.90fe08","type":"http response","z":"4a453879.3f3c58","name":"","statusCode":"","headers":{},"x":890,"y":440,"wires":[]},{"id":"6951238f.e1f22c","type":"cloudant in","z":"4a453879.3f3c58","name":"Get Projects","cloudant":"","database":"projects","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_idx_","design":"get_projects","index":"get_projects","x":660,"y":500,"wires":[["a61fe469.90fe08","4818e2b2.96e4ac"]]},{"id":"ef270f31.83ae9","type":"function","z":"4a453879.3f3c58","name":"","func":"msg.payload = {\n    query: \"user_id:\" + msg.req.body.user_id\n    + \" AND active: true\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":500,"wires":[["6951238f.e1f22c","c7b13bb2.2ab0a8"]]},{"id":"4818e2b2.96e4ac","type":"debug","z":"4a453879.3f3c58","name":"All Projects","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":520,"wires":[]},{"id":"9280a109.099a7","type":"debug","z":"5667cdd0.b6df74","name":"Get Ideas Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":480,"wires":[]},{"id":"19f2b97f.6fd207","type":"http response","z":"5667cdd0.b6df74","name":"Idea not found","statusCode":"404","headers":{},"x":1060,"y":880,"wires":[]},{"id":"87e40858.b06488","type":"switch","z":"5667cdd0.b6df74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":940,"wires":[["19f2b97f.6fd207"],["ca31db40.bb1858","4516fc7c.bf7ab4"]]},{"id":"b125525c.adda","type":"cloudant in","z":"5667cdd0.b6df74","name":"Search Idea","cloudant":"","database":"ideate","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_id_","design":"user","index":"user","x":710,"y":940,"wires":[["87e40858.b06488"]]},{"id":"ca31db40.bb1858","type":"http response","z":"5667cdd0.b6df74","name":"Successful","statusCode":"","headers":{},"x":1050,"y":980,"wires":[]},{"id":"4516fc7c.bf7ab4","type":"function","z":"5667cdd0.b6df74","name":"","func":"msg.payload = {\n    _id: msg.payload._id,\n    _rev: msg.payload._rev,\n    user_id: msg.payload.user_id,\n    project_id: msg.payload.project_id,\n    content: msg.payload.content,\n    vector_x: flow.get(\"vector_x\"),\n    vector_y: flow.get(\"vector_y\"),\n    vector_z: flow.get(\"vector_z\"),\n    active: true,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":1020,"wires":[["161ad0d4.82416f"]]},{"id":"3ac03d6c.93fb62","type":"function","z":"5667cdd0.b6df74","name":"Prepare input","func":"msg.payload = {\n    _id: msg.req.body.idea_id,\n}\n\nflow.set(\"feasibility\", msg.req.body.feasibility);\nflow.set(\"usability\", msg.req.body.usability);\nflow.set(\"vector_x\", msg.req.body.vector_x);\nflow.set(\"vector_y\", msg.req.body.vector_y);\nflow.set(\"vector_z\", msg.req.body.vector_z);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":940,"wires":[["b125525c.adda"]]},{"id":"161ad0d4.82416f","type":"cloudant out","z":"5667cdd0.b6df74","name":"Update Idea","cloudant":"","database":"ideate","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":1190,"y":1020,"wires":[]},{"id":"26112616.71aa5a","type":"http in","z":"5667cdd0.b6df74","name":"Edit Idea Position","url":"/edit-idea-position","method":"post","upload":false,"swaggerDoc":"","x":360,"y":940,"wires":[["3ac03d6c.93fb62"]]},{"id":"9b8b0d0b.5e73b","type":"http response","z":"5667cdd0.b6df74","name":"Idea not found","statusCode":"404","headers":{},"x":860,"y":1560,"wires":[]},{"id":"7e9d5700.6de718","type":"switch","z":"5667cdd0.b6df74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1580,"wires":[["9b8b0d0b.5e73b"],["8cd1b6a5.528188","c2540bdd.8ac748"]]},{"id":"a023268a.c9fca8","type":"cloudant in","z":"5667cdd0.b6df74","name":"Search Idea","cloudant":"","database":"ideate","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_id_","design":"user","index":"user","x":430,"y":1640,"wires":[["7e9d5700.6de718","cb94eb7c.659c68"]]},{"id":"8cd1b6a5.528188","type":"http response","z":"5667cdd0.b6df74","name":"Successful","statusCode":"","headers":{},"x":850,"y":1600,"wires":[]},{"id":"c2540bdd.8ac748","type":"function","z":"5667cdd0.b6df74","name":"","func":"msg.payload = {\n    _id: msg.payload._id,\n    _rev: msg.payload._rev,\n    user_id: msg.payload.user_id,\n    project_id: msg.payload.project_id,\n    content: msg.payload.content,\n    score_feasibility: msg.payload.score_feasibility,\n    score_usability: msg.payload.score_usability,\n    vector_x: msg.payload.vector_x,\n    vector_y: msg.payload.vector_y,\n    vector_z: msg.payload.vector_z,\n    active: false,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1700,"wires":[["dfab528e.21e73"]]},{"id":"88157d8d.99b98","type":"function","z":"5667cdd0.b6df74","name":"","func":"msg.payload = {\n    _id: msg.req.body.idea_id,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1720,"wires":[["a023268a.c9fca8"]]},{"id":"7445427c.93dd0c","type":"http in","z":"5667cdd0.b6df74","name":"Delete Idea","url":"/delete-idea","method":"post","upload":false,"swaggerDoc":"","x":80,"y":1720,"wires":[["88157d8d.99b98"]]},{"id":"dfab528e.21e73","type":"cloudant out","z":"5667cdd0.b6df74","name":"Remove Idea","cloudant":"","database":"ideate","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":830,"y":1700,"wires":[]},{"id":"4e3394b7.b8de3c","type":"http in","z":"850f605e.5c11c","name":"Add Persona","url":"/add-persona","method":"post","upload":false,"swaggerDoc":"","x":210,"y":120,"wires":[["9716a78d.aeac48","ad16725e.ac79b"]]},{"id":"9716a78d.aeac48","type":"function","z":"850f605e.5c11c","name":"Prepare Input","func":"msg.payload = {\n    user_id: msg.req.body.user_id,\n    project_id: msg.req.body.project_id,\n    persona_name: msg.req.body.persona_name,\n    persona_gender: msg.req.body.persona_gender,\n    avatar_type: msg.req.body.avatar_type,\n    empathy_says: msg.req.body.empathy_says,\n    empathy_thinks: msg.req.body.empathy_thinks,\n    empathy_does: msg.req.body.empathy_does,\n    empathy_feels: msg.req.body.empathy_feels,\n    emotion: \"joy\",\n    timestamp: new Date().getTime(),\n    active: true,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":120,"wires":[["c98d5882.6ef698","b2dc87d8.dbd2c8","6b772070.cc94c"]]},{"id":"c98d5882.6ef698","type":"debug","z":"850f605e.5c11c","name":"Print Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":60,"wires":[]},{"id":"b2dc87d8.dbd2c8","type":"cloudant out","z":"850f605e.5c11c","name":"Insert Persona","cloudant":"","database":"empathise2","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":660,"y":120,"wires":[]},{"id":"21d0623f.312f2e","type":"http in","z":"850f605e.5c11c","name":"Get Personas","url":"/get-personas","method":"post","upload":false,"swaggerDoc":"","x":410,"y":540,"wires":[["d252e24a.c0823","a4e307c4.e5ba88"]]},{"id":"e769ca48.88fa68","type":"http response","z":"850f605e.5c11c","name":"","statusCode":"","headers":{},"x":1310,"y":680,"wires":[]},{"id":"63ef7b4b.497134","type":"debug","z":"850f605e.5c11c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":640,"wires":[]},{"id":"94f48821.500268","type":"cloudant in","z":"850f605e.5c11c","name":"","cloudant":"","database":"empathise2","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_idx_","design":"getpersonas","index":"getpersonas","x":810,"y":580,"wires":[["5340aa0e.aacf84"]]},{"id":"d252e24a.c0823","type":"function","z":"850f605e.5c11c","name":"","func":"msg.payload = {\n    query : \"user_id:\"+msg.req.body.user_id\n    + \" AND project_id:\"+msg.req.body.project_id\n    + \" AND active:true\",\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":640,"wires":[["94f48821.500268","6a799d0c.d263f4"]]},{"id":"a4e307c4.e5ba88","type":"debug","z":"850f605e.5c11c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":480,"wires":[]},{"id":"3ca0730a.f450ec","type":"http response","z":"850f605e.5c11c","name":"Persona not found","statusCode":"404","headers":{},"x":1310,"y":2160,"wires":[]},{"id":"b4526239.8b8c8","type":"switch","z":"850f605e.5c11c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":2180,"wires":[["3ca0730a.f450ec","d9fff266.07f6d"],["335db627.45a41a","6269e655.bdfe38","1fdc525d.81f41e"]]},{"id":"1c7b5729.f58939","type":"cloudant in","z":"850f605e.5c11c","name":"Search Persona","cloudant":"","database":"empathise2","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_id_","design":"user","index":"user","x":700,"y":2240,"wires":[["b4526239.8b8c8"]]},{"id":"335db627.45a41a","type":"http response","z":"850f605e.5c11c","name":"Successful","statusCode":"","headers":{},"x":1090,"y":2240,"wires":[]},{"id":"6269e655.bdfe38","type":"function","z":"850f605e.5c11c","name":"","func":"msg.payload = {\n    _id: msg.payload._id,\n    _rev: msg.payload._rev,\n    persona_name: msg.payload.persona_name,\n    user_id: msg.payload.user_id,\n    project_id: msg.payload.project_id,\n    persona_gender: msg.payload.persona_gender,\n    avatar_type: msg.payload.avatar_type,\n    empathy_says: msg.payload.empathy_says,\n    empathy_thinks: msg.payload.empathy_thinks,\n    empathy_does: msg.payload.empathy_does,\n    empathy_feels: msg.payload.empathy_feels,\n    active: \"false\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":2320,"wires":[["4c800c43.eaa034"]]},{"id":"f724cbd.7cf6438","type":"function","z":"850f605e.5c11c","name":"","func":"msg.payload = {\n    _id: msg.req.body.persona_id,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":2320,"wires":[["1c7b5729.f58939"]]},{"id":"4c800c43.eaa034","type":"cloudant out","z":"850f605e.5c11c","name":"Deactivate Persona","cloudant":"","database":"empathise2","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":1150,"y":2320,"wires":[]},{"id":"8c91819f.3b2f9","type":"http in","z":"850f605e.5c11c","name":"Delete Persona","url":"/delete-persona","method":"post","upload":false,"swaggerDoc":"","x":360,"y":2320,"wires":[["f724cbd.7cf6438","7831c4d2.7bb84c"]]},{"id":"3860b178.ba0c0e","type":"http response","z":"4a453879.3f3c58","name":"Project not found","statusCode":"404","headers":{},"x":850,"y":800,"wires":[]},{"id":"b7943066.65c7d","type":"switch","z":"4a453879.3f3c58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":860,"wires":[["3860b178.ba0c0e"],["b7d432ac.71f05","c0229954.d2b5b8"]]},{"id":"15ae2935.a031b7","type":"cloudant in","z":"4a453879.3f3c58","name":"Search Project","cloudant":"","database":"projects","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_id_","design":"user","index":"user","x":440,"y":920,"wires":[["b7943066.65c7d"]]},{"id":"b7d432ac.71f05","type":"http response","z":"4a453879.3f3c58","name":"Successful","statusCode":"","headers":{},"x":870,"y":940,"wires":[]},{"id":"c0229954.d2b5b8","type":"function","z":"4a453879.3f3c58","name":"","func":"msg.payload = {\n    _id: msg.payload._id,\n    _rev: msg.payload._rev,\n    project_name: msg.req.body.project_name,\n    user_id: msg.req.body.user_id,\n    active: false,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1000,"wires":[["84aad1ef.bd366"]]},{"id":"b328818a.08faf","type":"function","z":"4a453879.3f3c58","name":"","func":"msg.payload = {\n    _id: msg.req.body.id,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1000,"wires":[["15ae2935.a031b7"]]},{"id":"84aad1ef.bd366","type":"cloudant out","z":"4a453879.3f3c58","name":"Remove Project","cloudant":"","database":"projects","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":false,"operation":"insert","x":880,"y":1000,"wires":[]},{"id":"a4a09126.a114b","type":"http in","z":"4a453879.3f3c58","name":"Delete Project","url":"/delete-project","method":"patch","upload":false,"swaggerDoc":"","x":90,"y":1000,"wires":[["b328818a.08faf"]]},{"id":"dc925fd1.62053","type":"function","z":"5667cdd0.b6df74","name":"","func":"msg.payload = {\n    _id: msg.req.body.idea_id,\n}\n\nflow.set(\"content\", msg.req.body.content);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1280,"wires":[["23ab749b.b2024c"]]},{"id":"b253cae0.c8a298","type":"http in","z":"5667cdd0.b6df74","name":"Edit Idea Content","url":"/edit-idea-content","method":"post","upload":false,"swaggerDoc":"","x":70,"y":1280,"wires":[["dc925fd1.62053","ba9a0d2f.7aadf"]]},{"id":"23ab749b.b2024c","type":"cloudant in","z":"5667cdd0.b6df74","name":"Search Idea","cloudant":"","database":"ideate","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_id_","design":"user","index":"user","x":470,"y":1280,"wires":[["b08c5643.38b538"]]},{"id":"b08c5643.38b538","type":"switch","z":"5667cdd0.b6df74","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":1220,"wires":[["a4144e6e.c235c"],["4558c22.96e743c","2186c304.6d1c0c"]]},{"id":"a4144e6e.c235c","type":"http response","z":"5667cdd0.b6df74","name":"Idea not found","statusCode":"404","headers":{},"x":880,"y":1200,"wires":[]},{"id":"4558c22.96e743c","type":"http response","z":"5667cdd0.b6df74","name":"Successful","statusCode":"","headers":{},"x":870,"y":1240,"wires":[]},{"id":"2186c304.6d1c0c","type":"function","z":"5667cdd0.b6df74","name":"","func":"msg.payload = {\n    _id: msg.payload._id,\n    _rev: msg.payload._rev,\n    user_id: msg.payload.user_id,\n    project_id: msg.payload.project_id,\n    content: flow.get(\"content\"),\n    vector_x: msg.payload.vector_x,\n    vector_y: msg.payload.vector_y,\n    vector_z: msg.payload.vector_z,\n    active: true,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1340,"wires":[["d84fa51.a1ca258","b084a8dd.aa7958"]]},{"id":"d84fa51.a1ca258","type":"cloudant out","z":"5667cdd0.b6df74","name":"Update Idea","cloudant":"","database":"ideate","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":890,"y":1320,"wires":[]},{"id":"8b7d8aa1.2b3a28","type":"delay","z":"5667cdd0.b6df74","name":"Delay to search","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":200,"wires":[["8a451512.952978"]]},{"id":"e4cb2e22.479f8","type":"cloudant in","z":"5667cdd0.b6df74","name":"Search Idea","cloudant":"","database":"ideate","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_idx_","design":"get_ideas","index":"get_idea","x":790,"y":320,"wires":[["8ec5687c.235048"]]},{"id":"8ec5687c.235048","type":"function","z":"5667cdd0.b6df74","name":"Format result","func":"msg.payload = msg.payload[0]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":380,"wires":[["5bb4f105.f20ca"]]},{"id":"5bb4f105.f20ca","type":"http response","z":"5667cdd0.b6df74","name":"Return idea_id","statusCode":"","headers":{},"x":1040,"y":380,"wires":[]},{"id":"6b772070.cc94c","type":"delay","z":"850f605e.5c11c","name":"Delay to search","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":180,"wires":[["1e9b7ad2.4da245"]]},{"id":"99f04a2.1401db8","type":"cloudant in","z":"850f605e.5c11c","name":"Search Persona","cloudant":"","database":"empathise2","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_idx_","design":"getpersonas","index":"getpersona","x":1100,"y":120,"wires":[["d3d14962.9ee838","7053984c.0f57a8"]]},{"id":"d3d14962.9ee838","type":"function","z":"850f605e.5c11c","name":"","func":"msg.payload = msg.payload[0];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":120,"wires":[["6de2716f.eac1","c75edda1.b7d04"]]},{"id":"6de2716f.eac1","type":"http response","z":"850f605e.5c11c","name":"Return idea_id","statusCode":"","headers":{},"x":1540,"y":120,"wires":[]},{"id":"6e62a7a1.351ea8","type":"debug","z":"850f605e.5c11c","name":"after break","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":240,"wires":[]},{"id":"ad16725e.ac79b","type":"debug","z":"850f605e.5c11c","name":"Add Persona","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":260,"wires":[]},{"id":"75b212d2.4f13ec","type":"http response","z":"850f605e.5c11c","name":"Persona not found","statusCode":"404","headers":{},"x":870,"y":880,"wires":[]},{"id":"ccc9489f.6691c8","type":"switch","z":"850f605e.5c11c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":940,"wires":[["75b212d2.4f13ec"],["cca48507.c25b88","90f117c0.6eccf8"]]},{"id":"83aa6a04.db1a18","type":"cloudant in","z":"850f605e.5c11c","name":"Search Persona","cloudant":"","database":"empathise2","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_id_","design":"user","index":"user","x":460,"y":1000,"wires":[["ccc9489f.6691c8","c890b820.e23958"]]},{"id":"cca48507.c25b88","type":"http response","z":"850f605e.5c11c","name":"Successful","statusCode":"","headers":{},"x":890,"y":1020,"wires":[]},{"id":"90f117c0.6eccf8","type":"function","z":"850f605e.5c11c","name":"","func":"msg.payload = {\n    _id: msg.payload._id,\n    _rev: msg.payload._rev,\n    persona_name: flow.get(\"persona_name\"),\n    user_id: msg.payload.user_id,\n    project_id: msg.payload.project_id,\n    persona_gender: msg.payload.persona_gender,\n    avatar_type: msg.payload.avatar_type,\n    empathy_says: msg.payload.empathy_says,\n    empathy_thinks: msg.payload.empathy_thinks,\n    empathy_does: msg.payload.empathy_does,\n    empathy_feels: msg.payload.empathy_feels,\n    emotion: msg.payload.emotion,\n    active: true,\n}\n\n    \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1080,"wires":[["e93a14ab.282928"]]},{"id":"2c43ece1.005cb4","type":"function","z":"850f605e.5c11c","name":"","func":"msg.payload = {\n    _id: msg.req.body.persona_id,\n}\n\n\nflow.set(\"persona_name\", msg.req.body.persona_name);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1060,"wires":[["83aa6a04.db1a18"]]},{"id":"e93a14ab.282928","type":"cloudant out","z":"850f605e.5c11c","name":"Update Persona","cloudant":"","database":"empathise2","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":900,"y":1080,"wires":[]},{"id":"a6cc8ac7.c35388","type":"http in","z":"850f605e.5c11c","name":"Edit Persona Name","url":"/edit-persona-name","method":"post","upload":false,"swaggerDoc":"","x":110,"y":1000,"wires":[["2c43ece1.005cb4","bd0599de.fbce48"]]},{"id":"9881460c.dbc998","type":"http response","z":"850f605e.5c11c","name":"Persona not found","statusCode":"404","headers":{},"x":1090,"y":1200,"wires":[]},{"id":"4deacdda.eb0ff4","type":"switch","z":"850f605e.5c11c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":1260,"wires":[["9881460c.dbc998"],["e3e19942.1e3058"]]},{"id":"a1bf3cea.07fbf","type":"cloudant in","z":"850f605e.5c11c","name":"Search Persona","cloudant":"","database":"empathise2","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_id_","design":"user","index":"user","x":640,"y":1320,"wires":[["4deacdda.eb0ff4","ab364e1b.16b4f"]]},{"id":"e35f8c1e.30b6c","type":"http response","z":"850f605e.5c11c","name":"Successful","statusCode":"","headers":{},"x":1430,"y":1200,"wires":[]},{"id":"e3e19942.1e3058","type":"function","z":"850f605e.5c11c","name":"","func":"var empathyField = flow.get(\"empathy_says\");\nvar empathyInput = flow.get(\"empathyInput\");\n\n\nif (empathyField == \"says\")\n{\n    msg.payload = {\n        _id: msg.payload._id,\n        _rev: msg.payload._rev,\n        persona_name: msg.payload.persona_name,\n        user_id: msg.payload.user_id,\n        project_id: msg.payload.project_id,\n        persona_gender: msg.payload.persona_gender,\n        avatar_type: msg.payload.avatar_type,\n        empathy_says: empathyInput,\n        empathy_thinks: msg.payload.empathy_thinks,\n        empathy_does: msg.payload.empathy_does,\n        empathy_feels: msg.payload.empathy_feels,\n        emotion: msg.payload.emotion,\n        active: true,\n    }\n}\nif (empathyField == \"thinks\")\n{\n    msg.payload = {\n        _id: msg.payload._id,\n        _rev: msg.payload._rev,\n        persona_name: msg.payload.persona_name,\n        user_id: msg.payload.user_id,\n        project_id: msg.payload.project_id,\n        persona_gender: msg.payload.persona_gender,\n        avatar_type: msg.payload.avatar_type,\n        empathy_says: msg.payload.empathy_says,\n        empathy_thinks: empathyInput,\n        empathy_does: msg.payload.empathy_does,\n        empathy_feels: msg.payload.empathy_feels,\n        emotion: msg.payload.emotion,\n        active: true,\n    }\n}\nif (empathyField == \"does\")\n{\n    msg.payload = {\n        _id: msg.payload._id,\n        _rev: msg.payload._rev,\n        persona_name: msg.payload.persona_name,\n        user_id: msg.payload.user_id,\n        project_id: msg.payload.project_id,\n        persona_gender: msg.payload.persona_gender,\n        avatar_type: msg.payload.avatar_type,\n        empathy_says: msg.payload.empathy_says,\n        empathy_thinks: msg.payload.empathy_thinks,\n        empathy_does: empathyInput,\n        empathy_feels: msg.payload.empathy_feels,\n        emotion: msg.payload.emotion,\n        active: true,\n    }\n}\nelse {\n    msg.payload = {\n        _id: msg.payload._id,\n        _rev: msg.payload._rev,\n        persona_name: msg.payload.persona_name,\n        user_id: msg.payload.user_id,\n        project_id: msg.payload.project_id,\n        persona_gender: msg.payload.persona_gender,\n        avatar_type: msg.payload.avatar_type,\n        empathy_says: msg.payload.empathy_says,\n        empathy_thinks: msg.payload.empathy_thinks,\n        empathy_does: msg.payload.empathy_does,\n        empathy_feels: empathyInput,\n        emotion: msg.payload.emotion,\n        active: true,\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":1260,"wires":[["85a8abf5.f6a398","1e1555e8.bd41ea","e35f8c1e.30b6c"]]},{"id":"9cf72b38.f584d8","type":"function","z":"850f605e.5c11c","name":"","func":"msg.payload = {\n    _id: msg.req.body.persona_id,\n}\n\n\nflow.set(\"empathyField\", msg.req.body.empathyField);\nflow.set(\"empathyInput\", msg.req.body.empathyInput);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1400,"wires":[["a1bf3cea.07fbf"]]},{"id":"85a8abf5.f6a398","type":"cloudant out","z":"850f605e.5c11c","name":"Update Persona","cloudant":"","database":"empathise2","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":1440,"y":1260,"wires":[]},{"id":"ff9ed1cd.831c4","type":"http in","z":"850f605e.5c11c","name":"Edit Persona Empathy Map","url":"/edit-persona-map","method":"post","upload":false,"swaggerDoc":"","x":300,"y":1400,"wires":[["9cf72b38.f584d8","880432ba.97e3c"]]},{"id":"880432ba.97e3c","type":"debug","z":"850f605e.5c11c","name":"Edit Persona Map Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1480,"wires":[]},{"id":"1e1555e8.bd41ea","type":"debug","z":"850f605e.5c11c","name":"result debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":1320,"wires":[]},{"id":"ab364e1b.16b4f","type":"debug","z":"850f605e.5c11c","name":"search result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":1400,"wires":[]},{"id":"7053984c.0f57a8","type":"debug","z":"850f605e.5c11c","name":"DEBUG OUTPUT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1380,"y":60,"wires":[]},{"id":"60ef0fd3.30422","type":"debug","z":"5667cdd0.b6df74","name":"check again","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":700,"wires":[]},{"id":"e69f6c09.cc44f","type":"debug","z":"2d4451f8.bdbe2e","name":"Login Search User","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":60,"wires":[]},{"id":"6a799d0c.d263f4","type":"debug","z":"850f605e.5c11c","name":"input to cloudant","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":720,"wires":[]},{"id":"1e9b7ad2.4da245","type":"function","z":"850f605e.5c11c","name":"Prepare Input","func":"msg.payload = {\n    query : \"user_id:\"+msg.payload.user_id\n    + \" AND project_id: \"+ msg.payload.project_id\n    + \" AND timestamp: \" + msg.payload.timestamp\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":180,"wires":[["6e62a7a1.351ea8","99f04a2.1401db8"]]},{"id":"7831c4d2.7bb84c","type":"debug","z":"850f605e.5c11c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":2380,"wires":[]},{"id":"d9fff266.07f6d","type":"debug","z":"850f605e.5c11c","name":"Persona not found","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":2120,"wires":[]},{"id":"1fdc525d.81f41e","type":"debug","z":"850f605e.5c11c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":2200,"wires":[]},{"id":"8a451512.952978","type":"function","z":"5667cdd0.b6df74","name":"Ceate query","func":"msg.payload = {\n    query : \"user_id:\"+ msg.payload.user_id\n    + \" AND project_id: \"+ msg.payload.project_id\n    + \" AND timestamp:\" + msg.payload.timestamp,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":260,"wires":[["e4cb2e22.479f8"]]},{"id":"cb94eb7c.659c68","type":"debug","z":"5667cdd0.b6df74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":1760,"wires":[]},{"id":"66a86f1e.8d8f6","type":"debug","z":"2d4451f8.bdbe2e","name":"Register Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":780,"wires":[]},{"id":"da835c63.b96b8","type":"debug","z":"2d4451f8.bdbe2e","name":"Search User","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":800,"wires":[]},{"id":"5340aa0e.aacf84","type":"switch","z":"850f605e.5c11c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":620,"wires":[["14e4ad86.cd0112"],["e769ca48.88fa68","63ef7b4b.497134"]]},{"id":"451ef136.bb8ad","type":"http response","z":"850f605e.5c11c","name":"","statusCode":"","headers":{},"x":1370,"y":520,"wires":[]},{"id":"14e4ad86.cd0112","type":"function","z":"850f605e.5c11c","name":"","func":"msg.payload = {\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":560,"wires":[["451ef136.bb8ad"]]},{"id":"ba9a0d2f.7aadf","type":"debug","z":"5667cdd0.b6df74","name":"Edit Idea Content","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":1360,"wires":[]},{"id":"b084a8dd.aa7958","type":"debug","z":"5667cdd0.b6df74","name":"Debug Insert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":1380,"wires":[]},{"id":"fc091aaf.e0d218","type":"http response","z":"850f605e.5c11c","name":"Persona not found","statusCode":"404","headers":{},"x":1170,"y":1680,"wires":[]},{"id":"ab7c7688.fec068","type":"switch","z":"850f605e.5c11c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":1740,"wires":[["fc091aaf.e0d218"],["ab724a60.f68338"]]},{"id":"f21bd74a.eb0618","type":"cloudant in","z":"850f605e.5c11c","name":"Search Persona","cloudant":"","database":"empathise2","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_id_","design":"user","index":"user","x":720,"y":1800,"wires":[["ab7c7688.fec068","355f4dbc.9b3342"]]},{"id":"69392a61.541524","type":"http response","z":"850f605e.5c11c","name":"Successful","statusCode":"","headers":{},"x":1510,"y":1680,"wires":[]},{"id":"ab724a60.f68338","type":"function","z":"850f605e.5c11c","name":"","func":"msg.payload = {\n    _id: msg.payload._id,\n    _rev: msg.payload._rev,\n    persona_name: msg.payload.persona_name,\n    user_id: msg.payload.user_id,\n    project_id: msg.payload.project_id,\n    persona_gender: msg.payload.persona_gender,\n    avatar_type: msg.payload.avatar_type,\n    empathy_says: msg.payload.empathy_says,\n    empathy_thinks: msg.payload.empathy_thinks,\n    empathy_does: msg.payload.empathy_does,\n    empathy_feels: msg.payload.empathy_feels,\n    emotion: flow.get(\"emotion\"),\n    active: \"true\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":1740,"wires":[["ce394d31.54bb3","88d746ab.759f68","69392a61.541524"]]},{"id":"fdda567f.24d488","type":"function","z":"850f605e.5c11c","name":"","func":"msg.payload = {\n    _id: msg.req.body.persona_id,\n}\n\n\nflow.set(\"emotion\", msg.req.body.emotion);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1880,"wires":[["f21bd74a.eb0618"]]},{"id":"ce394d31.54bb3","type":"cloudant out","z":"850f605e.5c11c","name":"Update Persona","cloudant":"","database":"empathise2","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":1520,"y":1740,"wires":[]},{"id":"bdc8251c.9886f8","type":"http in","z":"850f605e.5c11c","name":"Edit Persona Emotion","url":"/edit-persona-emotion","method":"post","upload":false,"swaggerDoc":"","x":360,"y":1880,"wires":[["fdda567f.24d488","60603627.c26f78"]]},{"id":"60603627.c26f78","type":"debug","z":"850f605e.5c11c","name":"Edit Persona Map Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1960,"wires":[]},{"id":"88d746ab.759f68","type":"debug","z":"850f605e.5c11c","name":"result debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":1800,"wires":[]},{"id":"355f4dbc.9b3342","type":"debug","z":"850f605e.5c11c","name":"search result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":1880,"wires":[]},{"id":"811150d4.82a3e","type":"http in","z":"70fa9221.8ff24c","name":"Add Definition","url":"/add-definition","method":"post","upload":false,"swaggerDoc":"","x":110,"y":180,"wires":[["1c9c7c2d.427ed4"]]},{"id":"1c9c7c2d.427ed4","type":"function","z":"70fa9221.8ff24c","name":"","func":"msg.payload = {\n    user_id: msg.req.body.user_id,\n    project_id: msg.req.body.project_id,\n    definition: \"Define the problem!\",\n    active: true,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":180,"wires":[["3eeb8eb0.4525e2","82e0406f.b7375","c851759.e4f4088"]]},{"id":"3eeb8eb0.4525e2","type":"debug","z":"70fa9221.8ff24c","name":"Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":120,"wires":[]},{"id":"82e0406f.b7375","type":"cloudant out","z":"70fa9221.8ff24c","name":"Insert Definition","cloudant":"","database":"projects","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":560,"y":180,"wires":[]},{"id":"c851759.e4f4088","type":"http response","z":"70fa9221.8ff24c","name":"Return","statusCode":"","headers":{},"x":530,"y":240,"wires":[]},{"id":"c3cba464.d82bf8","type":"http in","z":"70fa9221.8ff24c","name":"Update Definition","url":"/update-definition","method":"post","upload":false,"swaggerDoc":"","x":200,"y":920,"wires":[["acfac3b.e7a674"]]},{"id":"acfac3b.e7a674","type":"function","z":"70fa9221.8ff24c","name":"","func":"msg.payload = {\n    project_id: msg.req.body.project_id,\n}\n\nflow.set(\"definition\", msg.req.body.definition);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":920,"wires":[["97656f8c.2e421","c6886b5.9582a98"]]},{"id":"2aa67a4.5fed986","type":"cloudant out","z":"70fa9221.8ff24c","name":"Insert Definition","cloudant":"","database":"define","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":980,"y":960,"wires":[]},{"id":"c72493fe.85e19","type":"debug","z":"70fa9221.8ff24c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":860,"wires":[]},{"id":"97656f8c.2e421","type":"cloudant in","z":"70fa9221.8ff24c","name":"Get Definition","cloudant":"","database":"projects","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_id_","design":"get_definition","index":"get_definition","x":580,"y":920,"wires":[["c72493fe.85e19","bf82f188.4daa1"]]},{"id":"bf82f188.4daa1","type":"function","z":"70fa9221.8ff24c","name":"","func":"msg.payload = {\n    _id: msg.payload._id,\n    _rev: msg.payload._rev,\n    user_id: msg.payload.user_id,\n    project_id: msg.payload.project_id,\n    definition: flow.get(\"definition\"),\n    active: true,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":960,"wires":[["d8b7f56a.5ea208","2aa67a4.5fed986"]]},{"id":"d8b7f56a.5ea208","type":"http response","z":"70fa9221.8ff24c","name":"","statusCode":"","headers":{},"x":1010,"y":880,"wires":[]},{"id":"c6886b5.9582a98","type":"debug","z":"70fa9221.8ff24c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":800,"wires":[]},{"id":"49b70d31.4bfcb4","type":"debug","z":"2d4451f8.bdbe2e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":400,"wires":[]},{"id":"c7b13bb2.2ab0a8","type":"debug","z":"4a453879.3f3c58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":580,"wires":[]},{"id":"6ef00046.ce4c1","type":"debug","z":"4a453879.3f3c58","name":"Add Project","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":100,"wires":[]},{"id":"c75edda1.b7d04","type":"debug","z":"850f605e.5c11c","name":"Persona Debugging","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1540,"y":180,"wires":[]},{"id":"bd0599de.fbce48","type":"debug","z":"850f605e.5c11c","name":"edit name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":940,"wires":[]},{"id":"c890b820.e23958","type":"debug","z":"850f605e.5c11c","name":"edit name 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":1160,"wires":[]},{"id":"7ee76d1e.4bcdc4","type":"http in","z":"70fa9221.8ff24c","name":"Get Definition","url":"/get-definition","method":"post","upload":false,"swaggerDoc":"","x":210,"y":1260,"wires":[["2881ae58.939c02"]]},{"id":"2881ae58.939c02","type":"function","z":"70fa9221.8ff24c","name":"","func":"msg.payload = {\n    query: \"user_id:\" + msg.req.body.user_id\n    + \" AND project_id:\" + msg.req.body.project_id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1260,"wires":[["d3f411c2.4bbaf","82acac73.85769"]]},{"id":"fd4bca34.f6ba28","type":"debug","z":"70fa9221.8ff24c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":1200,"wires":[]},{"id":"d3f411c2.4bbaf","type":"cloudant in","z":"70fa9221.8ff24c","name":"Get Definition","cloudant":"","database":"projects","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_idx_","design":"get_definition","index":"get_definition","x":600,"y":1260,"wires":[["fd4bca34.f6ba28","7c777ca6.14e8f4"]]},{"id":"7c777ca6.14e8f4","type":"function","z":"70fa9221.8ff24c","name":"","func":"msg.payload = msg.payload[0];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1300,"wires":[["c75f9cd1.f1ed3"]]},{"id":"c75f9cd1.f1ed3","type":"http response","z":"70fa9221.8ff24c","name":"","statusCode":"","headers":{},"x":970,"y":1300,"wires":[]},{"id":"82acac73.85769","type":"debug","z":"70fa9221.8ff24c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":1140,"wires":[]},{"id":"40f7c27c.50f1bc","type":"http in","z":"70fa9221.8ff24c","name":"Update Definition","url":"/update-definition","method":"post","upload":false,"swaggerDoc":"","x":140,"y":420,"wires":[["bf4a628d.b3cca"]]},{"id":"bf4a628d.b3cca","type":"function","z":"70fa9221.8ff24c","name":"","func":"msg.payload = {\n    _id: msg.req.body.project_id,\n}\n\nflow.set(\"user_id\", msg.req.body.user_id);\nflow.set(\"definition\", msg.req.body.definition);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":420,"wires":[["c586808d.0a6df"]]},{"id":"fccade1.d31912","type":"debug","z":"70fa9221.8ff24c","name":"Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":360,"wires":[]},{"id":"ecabb0b8.6da37","type":"cloudant out","z":"70fa9221.8ff24c","name":"Insert Definition","cloudant":"","database":"projects","service":"node-red-iione-2021--cloudant-1622557588459-59080","payonly":true,"operation":"insert","x":920,"y":440,"wires":[]},{"id":"3d523bbd.2d5c94","type":"http response","z":"70fa9221.8ff24c","name":"Return","statusCode":"","headers":{},"x":890,"y":280,"wires":[]},{"id":"c586808d.0a6df","type":"cloudant in","z":"70fa9221.8ff24c","name":"Search Project","cloudant":"","database":"projects","service":"node-red-iione-2021--cloudant-1622557588459-59080","search":"_id_","design":"","index":"","x":500,"y":360,"wires":[["6afe5e8a.5e38f"]]},{"id":"6afe5e8a.5e38f","type":"function","z":"70fa9221.8ff24c","name":"","func":"msg.payload = {\n    _id: msg.payload._id,\n    _rev: msg.payload._rev,\n    project_name: flow.get(\"project_name\"),\n    definition: flow.get(\"definition\"),\n    active: true,\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":360,"wires":[["fccade1.d31912","ecabb0b8.6da37","3d523bbd.2d5c94"]]}]